.footer {
  height: 60px;
  border-top: 1px solid #ccc;
  padding:20px;
}
#home-search {
	background-image: url('/images/plane-header.gif');
	/*background-position-x: -100px; */
	background-position-y: 50px;
}
#home-search ul {
	list-style-type: none;
	line-height: 2.4;
	font-size: 16px;
	margin-top: 25px;
}
#home-well {
	background-color: #428bca;
	border-color: #357ebd;
	border-width: 3px;
}
#home-well label {
	letter-spacing: 1px;
	color: #fff;
	font-size:16px;
}
#home-well .help-block {
	color: #fff;
}
#home-well .help-block:hover {
	cursor:pointer;
	text-decoration:underline;
}
#navbar-home .navbar-brand {
	font-size: 30px;
}
#navbar-home .nav a:hover {
	color:#428bca;
	font-weight:bold;
}
#navbar-home .nav a {
	font-weight:bold;
}
body {
  min-height: 2000px;
  padding-top: 70px;
}
.breadcrumb {
	font-size:11px;
	padding:3px;
}
.text-centered {
	text-align:center;
}
.text-justified {
	text-align:justify;
}
.centered {
	margin-right:auto;
	margin-left:auto;
}
#pb-well {
	/*border-color: #357ebd;*/
	border-width: 2px;
}
.home-glyph {
	color:green;
}
.destination-labels a {
	color:white;
	text-decoration: none;
	font-size:1.2em;
}
.destination-labels a:hover {
	color:white;
	text-decoration: none;
}
#world-map {
    border-radius:5px;
}
#point-types img {
	border-radius:5px;
}
.font-size-small {
	font-size: 0.8em;
}
.list-scroll-fix { 
    padding-top: 70px;
    margin-top: -70px;
}
.footer-social {
	font-size: 2em;
}
.icons-lg { 
	font-size:1.3em;
}
.popover {
    width:300px;
}


.form-inline .form-group input {
    min-width:300px;
}


#mc_carriers_alliances_control a,#mc_carriers_alliances_control a:visited,#mc_carriers_alliances_control a:hover,#mc_carriers_alliances_control a:active{
	text-decoration: none;
}

.mc_active{
	color: #008000 !important;
	font-weight: bold;
}

.aircrafttype input[type="checkbox"]{
	margin-right: 0.5em;
}
#mc_carriers_alliances_main{
	display: block;
	overflow: auto;
}





















