/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
}
.zfooter {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}
/*.navbar
{
	margin:0px;
	min-height: 40px;
}
.navbar-brand {
	height: 40px;
	padding: 8px 15px;
}
*/
.container
{
	margin:0;
	padding:0;
	width:100% !important;
}

.btn-default:focus {
	background-color: #e0e0e0;
	background-position: 0 0;
}
.alert
{
	float:left;
	margin-top:10px;
	width:100%;
	padding:3px;
	margin-bottom:0px;
	font-size:13px;
}
/*
.navbar-form {
	padding: 0px;
	margin-top: 5px; 
	border:0px;
	width:auto !important;
	margin-left:0px;
}

.navbar-form  .input-group{
	margin-right: 5px; 
}

.navbar-form  .input-group .input-group-addon{
	width: 40px; 
	background-image: url(../images/airplanes.png);
	background-repeat: no-repeat;
}
*/
#leftPanel .input-group-addon{
	width: 40px; 
	background-image: url(../images/airplanes.png);
	background-repeat: no-repeat;
}
/*
.navbar-brand {
	padding: 13px 15px;
	display:inline-block;
}
.navbar-text {
	margin:14px 15px 0px 15px;
	position:relative;
	display:inline-block;
	float:left;
}
*/
/*.navbar-form .form-group
{
	width:auto !important;
	float:left;
	display:inline-block;
	margin-left:0px;
}*/
/*.input-group {
	display: inline-table;
}*/
/*.input-group  .form-control{
	padding-right:20px !important;
}*/

.text-muted {
	color: #777;
	margin-left:10px;
	margin-top:5px;
	line-height:14px;
}

.btn-default:active, .btn-default.active {
	background-color: #e0e0e0;
	border-color: #adadad;
}

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
	margin-left: 0px;
}

@media (max-width: 767px) {
	#btns-legs{
		margin-left: 5px;
	}
}

@media (max-width: 658px) {
	.navbar-form .form-group
	{
		margin-left:10px;
	}
	
	div.title{
		width:auto !important;
	}
}