::-webkit-input-placeholder {
    color: #999 !important;
	opacity:0.8
}
:-moz-placeholder {
    /* FF 4-18 */
    color: #999 !important;
	opacity:0.8
}
::-moz-placeholder {
    /* FF 19+ */
    color: #999 !important;
	opacity:0.8
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #999 !important;
	opacity:0.8
}

*{
    padding: 0px;
    margin: 0px;
    font-family:Arial;
}

body, html{

	background:#ffffff;
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
	min-width:515px;
	min-height:450px;
}

#content
{
	width: 100%;
	height: 100%;
    background: #FFFFFF;
	overflow: hidden;
	min-width:515px;
	min-height:450px;
}

.map-container
{
	width: 100%;
	height: 100%;
  background-color: #CCCCCC;
}

#main_container {
  width: 100%;
  height: 100%;
  position: relative;
}

/*#mapPanel,
#nav-filters {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}*/

#mapPanel {
	position:relative;
  /*position: absolute;*/
	width:250px;
  /*float: left;*/
  z-index: 1;
}

/*#nav-filters {

	width:100%;
  height: 20%;
  overflow: visible;
  margin-left: 3.8rem;
  z-index: 10;
  padding: 0rem 0rem;
}*/


.card-deck {
  display: inline-flex;
  flex-wrap: nowrap;
}

.nav-item .card-collapse {
  background-color: #fff;
}

.nav-item .card-header {
  background-color: #82E0AA;
  padding: 0.5rem 0.9rem;
}

.nav-item .card {
  margin-right: 2rem;
}

.nav-item .card-success {
    background-color: #fff;
    border-color: #fff;
}

#nav-filters, #nav-results{
  padding: 0rem 0.5rem;
  background: transparent;
}

#nav-results, #nav-results .card-header, #nav-filters, #nav-filters .card-header {
  margin-top: 0rem;
  padding: 0rem 0rem;
}

#nav-filters {
  top: 80px;
  position: fixed;
  right: 33px;
  left: 125px;
  z-index: 10;
}

#nav-results {
  width: 25%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 40%;
  z-index: 10;
}

#collapseOne1 .card-collapse{

  overflow-y: scroll;
}

#leftPanel .card-success {
  border-color: #fff;
}

#loading
{
	text-align:center;
	position:absolute;
	left:50%;
	top:50%;
	z-index:100;
	display:none;
}

.ui-tooltip
{
	font-size:14px !important;
}

#header
{
	border-radius:0;
	z-index:100;
}

#btns-legs i, #btnSameAirline i{
	background-image: url(../images/buttons.png);
	background-repeat: no-repeat;
	height:13px;
}

#btnSameAirline {
	padding: 5px 10px 3px 10px;
}

i {
	opacity: 0.8;
	display:inline-block !important;
}

i.icon-leg0 {
	background-position: 0 1px;
	width:16px;
}
i.icon-leg1 {
	background-position: -48px 0;
	width: 24px;
}

i.icon-same-airline {
	background-position: -101px 1px;
	width: 15px;
	height:15px !important;
}

#filtersControl
{
	float:left;
}

#routesResult, #alertResult, #alertInfo, #daysFilter
{
	display:none;
}
#routesResult, #daysFilterDays
{
	padding: 0px;
	padding-bottom: 5px;
	background-color: #f5f4f3;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	float:left;
	width:100%;
	/* margin-top:10px; */
	font-size: 12px;
}
#routesResult
{
	min-height:55px;
}
#routeDetails
{
	/*min-height:85px;*/
}
#daysFilterDays
{
	padding-left:5px;
}

#daysFilterDays td {
	min-width: 20px;
	text-align: center;
	font-size: 11px;
}

#routesResultListHeader {
	font-weight: 700;
	font-size: 12px;
	line-height: 17px;
	vertical-align: middle;
	border-bottom: 1px solid #BBB;
	padding-left: 5px;
	text-shadow: 0 1px 0 #fff;
	margin: 5px;
	color: #9da0a4;
}

#routesListWrapper
{
	padding: 0 10px;
	overflow: auto;
}

#routesList
{
	width: 100%;
	color: #48484c;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	min-height:20px;
}

#routesList p.even {
	background-color: #fbfbfb;
}
#routesList p.odd{

}
#routesList p.selected,
#routesList p.selected:hover{
	background-color: #b9cde5 !important;
}
#routesList p:hover, #routesList p.hover
{
	cursor: pointer;
	background-color: #dfdfdf;
}

#routesList p {
	font-size: 11px;
	font-family: verdana, arial, sansserif;
	margin: 0;
	padding: .15em;
}

div.routename {
	background-color: #999999;
	margin-bottom: 2px;
	color: #FFF;
	font-size: 10px;
	font-family: verdana, arial, sansserif;
	border-radius: 0 0 5px 5px;
	padding: 4px 5px;
	position: relative;
}

div.airlines
{
	height: auto;
	overflow:auto;
	margin-bottom:5px;
}

div.datepick {
	width: auto;
	display: inline-block;
	margin: -1px 2px 0 3px;
	float:left;
}
div.routename span {
	float: right;
	height: 20px;
	min-width: 10px;
	display: inline-block;
}

div.airlinename
{
	float:left;
	margin-left: 5px;
	overflow: hidden;
	max-width: 145px;
	width: auto;
	text-overflow: ellipsis;
}


div.datepick a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 24px;
	height: 18px;
	font-size: 11px;
	line-height: 14px;
	border: 1px solid #d3d3d3;
	color: #878787;
	border-radius: 2px;
	margin: 0 0 0 1px;
	background-color: #ddddec;
}

div.datepick a.inactive
{
	background-color:transparent;
	opacity:0.5;
}

div.routesegment {
	background-color: #f5f4f3;
	padding: 0 5px;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	/* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f3f3), color-stop(50%, #f2f3f3), color-stop(50%, #f0f1f1), color-stop(100%, #e4e6e8));
	background-image: -webkit-linear-gradient(#f2f3f3,#f2f3f3 50%,#f0f1f1 50%,#e4e6e8);
	background-image: -moz-linear-gradient(#f2f3f3,#f2f3f3 50%,#f0f1f1 50%,#e4e6e8);
	background-image: linear-gradient(#f2f3f3,#f2f3f3 50%,#f0f1f1 50%,#e4e6e8);
	cursor: pointer; */
}

#routeDetails
{
	float:left;
	width:100%;
	/* margin-top:10px; */
}

div.flightairline {
	height: auto;
	padding: 4px 2px;
	vertical-align: middle;
	font-size: 11px;
	white-space: nowrap;
	position: relative;
	float:left;
}
div.flightairline span{
	float:right;
	min-width: 45px;
}

div.title
{
	min-width:252px;
	width:30%;
	float:left;
}

.navbar-search-text
{
	margin: 15px 0px 15px 5px;
}

.originIcon{
	background-position: 2px 5px;
}
.destIcon{
	background-position: -39px 5px;
}

.ui-autocomplete
{
	font-size:13px;
}

span.clear-input
{
	display:none;
	width: 1px;
	z-index: 10;
	position: absolute;
    right: 7px;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;

    cursor: pointer;
}

#resultsWrapper
{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-bottom:5px;
	/*min-height:190px;*/
  max-height: 450px;
  overflow-y: scroll;
}

.card-block {
  padding: 0.7rem;
}

#btns-opts
{
	margin: 0 5px;
}

.resPanel
{
	max-height:50% !important;
}

.resPanel, #daysFilterDays, .alert
{
	margin-top:5px !important;
}

@media (max-width: 668px)
{
	body, html, #content
	{
		min-height:485px;
	}
}

@media (max-width: 525px)
{
	body{
		overflow-x: auto;
	}
}

@media (max-height: 500px) {
	body{
		overflow-y: auto;
	}
}
